<!DOCTYPE html>
<html>

<head>
    <title>
        Football Predictions
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- original code  -->
    <nav>
        <a href="/">Home</a>
        &nbsp; |&nbsp;
        <a href="/fixtures">All Fixtures</a>
        &nbsp; |&nbsp;
        <a href="/fixtures/new">Add Score Prediction</a>
    </nav>