<!DOCTYPE html>
<html>

<head>
    <title>
        Football Predictions
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- original code  -->
    <!-- <nav>
        <a href="/">Home</a>
        &nbsp; |&nbsp;
        <a href="/fixtures">All Fixtures</a>
        &nbsp; |&nbsp;
        <a href="/fixtures/new">Add Score Prediction</a>
    </nav> -->

    <nav>
        <a href="/fixtures" </a>
            <% if (user) { %>
                <a href="/fixtures" %>>
                    All Fixtures</a>
                <a href="/logout">LOG OUT</a>
                <% } else { %>
                    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                    <% } %>
    </nav>