<%- include('../partials/header') %>

    <h1>New Score Prediction</h1>
    <form id="new-form" action="/fixtures" method="POST">
        <label>Fixture:</label>
        <br>
        <label>Home Score:</label>
        <input type="number" name="homeScore">
        <br>
        <label>Away Score:</label>
        <input type="number" name="awayScore">
        <br>
        <label>Goalscorer:</label>
        <input type="string" name="goalScorer">
        <br>
        <label>Add Prediction:</label>
        <br>
        <button type="submit">Add Prediction</button>

    </form>

    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>