<%- include('../partials/header') %>

    <h1>New Score Prediction</h1>
    <form id="new-form" action="/fixtures" method="POST">
        <label>Fixture:</label>

        </select>

    </form>

    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>